<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="refresh" content="3; url = ./frontend/index.html" />

    <title>PetPal - For All Your Pet Needs</title>
    <link rel="stylesheet" href="index.css" />
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Inter:wght@400;700&display=swap"
        rel="stylesheet" />
    <script src="https://kit.fontawesome.com/3efec73f4e.js" crossorigin="anonymous"></script>
</head>

<body>

</body>

</html>